aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
black==23.3.0
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
crytic-compile==0.2.4
Flask==2.3.2
frozenlist==1.3.3
gpt-engineer==0.0.3
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
multidict==6.0.4
mypy-extensions==1.0.0
openai==0.27.8
packaging==23.1
pathspec==0.11.1
platformdirs==3.6.0
prettytable==3.5.0
pycryptodome==3.15.0
pyparsing==3.0.9
pysha3==1.0.2
PyYAML==6.0
redis==4.5.5
requests==2.31.0
ruff==0.0.272
slither-analyzer==0.9.1
solc-select==1.0.2
subprocess32==3.5.4
tomli==2.0.1
tqdm==4.65.0
typer==0.9.0
typing_extensions==4.6.3
urllib3==2.0.3
uuid==1.30
wcwidth==0.2.5
Werkzeug==2.3.6
yarl==1.9.2
